.card{
    width: 240px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
    background-color: #ebebeb;
    border-radius: 1rem;
    overflow: hidden;
}

.card--image{
    width: 100%;
}

.card--image-div{
    border-radius: 1rem;
}

.card--info{
    width: fit-content;
    position: relative;
    padding: 2rem 0 0 3rem;
    text-align: left;
}

.star{
    position: absolute;
    left: 2.7rem;
    top: .3rem;
    cursor: pointer;
}